<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Pedidos</title>
  <!-- CSS Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.css">       
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


  <!-- Css dataTables-->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"/>
  <!-- Fonte do body-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <!--Css personalisado-->
  <link rel="stylesheet" href="/css/styles.css"> 
  <link rel='icon' href='/img/favicon.ico' />
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #198754;" >
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav h6">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house-door"></i> Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/produto"><i class="bi bi-gift"></i> Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/intermediario"><i class="bi bi-people"></i> Intermediários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/pedido"><i class="bi bi-cart4"></i> Vendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/usuario"><i class="bi bi-person"></i> Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/entrada_produto"><i class="bi bi-box"></i> 
          Entradas</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto h6">
        <li class="nav-item">
          <a class="nav-link active" href="/logout"><i class="bi bi-box-arrow-right"></i> Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{#if messages.mensagem}}
    <br>
    <div class="alert alert-success" role="alert" style="max-width: 350px; 
  margin: auto;">
    {{messages.mensagem}}
    </div>
  {{/if}}

  {{{ body }}}  
</div> 
</body>
</html>